.header {
  color: red;
  font-weight: bold;
}

.paragraph {
  font-style: italic;
  text-decoration: underline;
}

.paragraph.text-success {
  color: green;
}

.paragraph .span {
  color: rgb(255, 255, 255);
}

.paragraph .span:hover {
  color: yellow;
}

.box-model {
  background-color: #ffff00;
  padding: 20px;
  padding-top: 30px;
  border: 5px dotted #0000ff;
  /* margin: 10px 30px 10px 10px; top right bottom left */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #00ffff;
  border: 1px solid #000000;
}

.box.relative {
  position: relative;
  bottom: 20px;
  left: 30px;
}

.box.absolute {
  position: absolute;
  top: 50px;
  right: 100px;
}

.parent1 {
  /* default flex-direction: row; */
  /* default justify-content: flex-start; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #ffff00;
  /* view width */
  width: 100vw;
  /* view height */
  height: 100vh;
}

.child1 {
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  margin: 20px;
}
