.container {
    width: 160px;
    background-color: #fafafa;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}